/******** cart styles ********/

div#cart {
    
}

#cart form {
    margin-bottom: 20px;
    overflow: auto;
    width: 650px;
}

#cart table {
    background-color: #FFFFFF;
    border: 1px solid #777777;
    margin-bottom: 10px;
    width: 100%;
}

#cart tr.item {

}

#cart tr.odd {

}

#cart tr.even {

}

#cart tr.shipping {

}

#cart tr.subtotal {

}

#cart th {
    background-color: #777777;
    color: #FFFFFF;
}

#cart th.shipping {
    background-color: transparent;
    border-top: 1px dashed #AAAAAA;
    color: #000000;
    text-align: right;
}

#cart th.subtotal {
    background-color: transparent;
    color: #000000;
    text-align: right;
}

#cart th.tax {
    background-color: transparent;
    color: #000000;
    text-align: right;
}

#cart th.total {
    background-color: transparent;
    color: #000000;
    text-align: right;
}

#cart td {
    text-align: center;
}

#cart td.item_id {

}

#cart td.item_name {
    text-align: left;
}

#cart td.item_price {

}

#cart td.item_total {

}

#cart td.shipping {
    border-top: 1px dashed #AAAAAA;
    font-weight: bold;
}

#cart td.subtotal {
    font-weight: bold;
}

#cart td.tax {
    font-weight: bold;
}

#cart td.total {
    font-weight: bold;
}

#cart p.buttons {
    float: right;
    margin: 0;
}


/******** widget styles ********/

div#cart_links {
    float: right;
    font-family: sans-serif;
}

img.cart_icon {
    border: none;
    float: left;
    height: 42px;
    margin-right: 5px;
}

.cart_link {
    font-size: 20px;
    font-weight: bold;
}

.item_count {
    color: #777777;
    font-size: 14px;
    float: left;
}

.checkout_link {
    float: right;
    font-size: 14px;
    font-weight: bold;
}