/******** layout styles ********/

* {
    font-family: Roboto;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

.page-content {
    max-width: 900px;
    margin: 0 auto;
}

md-content {
    min-width: 100%;
    background-color: #fafafa !important;
}

.item-price {
    padding: 0 5px;
}

header h3 {
    text-transform: none !important;
    font-size: 18px !important;
}

.item-desc {
    box-sizing: border-box;
    display: block;
    padding-right: 3px;
    color: #555;
    font-size: 16px;
}

#catCarousel img {
    padding: 15px;
}