---
layout: default
title: Category Example Page
titleInTab: true
storeCategory: accessories
---

<h1 class="page-heading">Category Page</h1>
<div id="productBay" ng-controller="storeCtrl">
    {% for item in site.data.products %}
    <md-card>
        <md-card-content>
            <div layout="row">
                <div flex=20>
                    <img src="{{ item.img | prepend: '/' | prepend: item.category | prepend: 'img/products/' | prepend: site.url }}">
                </div>
                <div layout="column" flex=60>
                    <h2>{{item.itemname}}</h2>
                    <p>{{item.desc}}</p>
                </div>
                <div flex=20 layout="column" layout-align="end center">
                    <h2>${{item.price}}</h2>
                    <span flex></span>
                    <div ng-controller="storeCtrl">
                        <md-button class="md-primary" ng-click="addToCart('{{item.itemID}}')">Add to cart</md-button>
                    </div>
                </div>
            </div>
        </md-card-content>
    <!--
        <md-card-actions layout="row" layout-align="end center">

        </md-card-actions>
    -->
    </md-card>
    {% endfor %}
</div>