<footer class="site-footer">
    <div class="page-content" layout="column" layout-gt-sm="row">
        
        <div flex=50>
            <h3>Ben's PC Parts</h3>
            <span><i>Disclaimer: This site is 100% fake and was created for educational purposes only. Nothing you "order" will ever be delivered. Please do not enter personal information into this site.</i></span>
            
        </div>
        
        
        <div flex=50>
            
            <!-- <img flex=33 ng-src="{{ 'img/social/fb.png' | prepend: site.url}}" alt="Facebook"> -->
        </div>
        
    </div>
</footer>
