<header>
<!--    <md-toolbar md-scroll-shrink ng-if="true" class="md-whiteframe-1dp">-->
    <md-toolbar class="md-whiteframe-1dp">

        <div class="md-toolbar-tools" layout="row">
            <md-button class="md-icon-button" aria-label="Menu" ng-click="toggleNav();">
                <md-icon class="material-icons">menu</md-icon>
            </md-button>
            <md-button md-no-ink ng-href="{{ site.url }}">
                <div layout="row" id="site-header-logo">
                    <img src="{{'img/logo-sm.png' | prepend: site.url }}" aria-label="Logo" alt="Logo">
                    <h3>Ben's PC Parts</h3>
                </div>
            </md-button>
            
            <span flex></span>
            
            <nav>
                {% for category in site.data.categories %}
                <md-button ng-href="{{ category.href | prepend: 'category/' | prepend: site.url}}" 
                            hide show-gt-md md-no-ink>
                    <span class="navlink">{{category.prettyTitle}}</span>
                </md-button>
                {% endfor %}
            </nav>
            
            <span flex></span>
            
            <md-button class="md-raised" ng-href="{{ 'cart' | prepend: site.url }}">
                <div id="cart_links" layout="row" ng-controller="cartCtrl">
                    <md-icon class="material-icons">shopping_cart</md-icon>
                    <div class="item_count">&nbsp;<span ng-bind="$root.itemCount"></span> <span ng-bind="$root.itemCountLabel">items</span></div>
                </div>
            </md-button>

        </div>

    </md-toolbar>
</header>