<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% if page.titleInTab and page.title %}{{ (site.title + ": " + page.title) | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    
    <link rel="stylesheet" href="{{ 'css/main.css' | prepend: site.url }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ 'feed.xml' | prepend: site.url }}">
    
    <link rel="stylesheet" href="{{ 'css/style.css' | prepend: site.url }}">
    <link rel="stylesheet" href="{{ 'css/cart.css' | prepend: site.url }}">
    
    <link rel="icon" href="{{ 'favicon.ico' | prepend: site.url }}">
    
    <!-- Angular Material style sheet -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    
    <!-- jQuery Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    
    <!-- Angular Material requires Angular.js Libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>

    <!-- Angular Material Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0-rc2/angular-material.min.js"></script>
    
    <!-- Angular Application Bootstrap -->
    <script src="{{ 'js/angularBootstrap.js' | prepend: site.url }}"></script>
    
    <!-- Cart Plugin -->
    <script src="{{ 'js/cart.js' | prepend: site.url }}"></script>
    <script src="{{ 'js/cookies.js' | prepend: site.url }}"></script>
    
    {% if page.needsCarousel %}
    <!-- Image Carousels -->
    <link rel="stylesheet" href="{{ 'css/owl.carousel.css' | prepend: site.url }}">
    <link rel="stylesheet" href="{{ 'css/owl.theme.default.css' | prepend: site.url }}">
    <script src="{{ 'js/owl.carousel.min.js' | prepend: site.url }}"></script>
    {% endif %}
</head>
