<div id="burgerMenu" md-swipe-left="toggleNav();">
    <md-sidenav class="md-sidenav-left md-whiteframe-8dp" md-component-id="left" layout="column">
        <md-toolbar class="md-hue-3 md-tall" layout-align="center center">
            <div layout="row" id="site-header-logo">
                <img src="{{'img/logo-sm.png' | prepend: site.url }}" aria-label="Logo" alt="Logo">
                <h3 style="font-size: 32px;">Ben's PC Parts</h3>
            </div>
        </md-toolbar>
        <md-content>
            <md-list>
                <md-list-item ng-href="{{ site.url }}">
                    <div flex layout="row" layout-align="none center" layout-wrap>
                        <div flex=15><md-icon class="material-icons">home</md-icon></div>
                        <div flex=85>Home</div>
                    </div>
                </md-list-item>
            </md-list>
            <md-subheader class="md-primary">Categories</md-subheader>
            <md-list>
                {% for item in site.data.categories %}
                <md-list-item ng-href="{{ item.href | prepend: 'category/' | prepend: site.url }}">
                    {{ item.prettyTitle }}
                </md-list-item>
                {% endfor %}
            </md-list>
            <md-subheader class="md-primary">Site Meta</md-subheader>
            <md-list>
                <md-list-item ng-href="{{'about' | prepend: site.url}}">
                    <div flex=15><md-icon class="material-icons">info</md-icon></div>
                    <div flex=85>About Us</div>
                </md-list-item>
                <md-list-item ng-href="{{'contact' | prepend: site.url}}">
                    <div flex=15><md-icon class="material-icons">email</md-icon></div>
                    <div flex=85>Contact Us</div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
</div>