<!DOCTYPE html>
<html>
    
    {% include head.html %}
    
    <body ng-controller="mainCtrl" ng-app="shoppingCart" ng-cloak>
        
        <ui-view>
            {% include header.html %}
        </ui-view>
        
        {% include sidenav.html %}
        
        <md-content md-swipe-right="toggleNav();">
            <div class="page-content" layout="column">
                
                {{ content }}
                
                {% include footer.html %}
                
            </div>
        </md-content>
        
    </body>
</html>
