<!DOCTYPE html>
<html>
    
    {% include head.html %}
    
    <body>
        
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
            
            {% include header.html %}
            
            {% include drawer.html %}
            
            <md-content>
                <div class="page-content">
                    
                    {{ content }}
                    
                    {% include footer.html %}
                    
                </div>
            </md-content>
        </div>
    </body>
</html>
