---
layout: default
titleInTab: true
---

<h1 class="page-heading">{{page.title}}</h1>
<div id="productBay" ng-controller="cartCtrl">
    {% for item in site.data.products %}
        {% if item.category == page.category %}
            <md-card>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline item-name">{{item.itemname}}</span>
<!--                        <div class="item-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse lacinia vitae turpis non pretium. Nulla vestibulum purus ac ante ornare, vel laoreet nisi ullamcorper. Sed pulvinar felis ipsum, nec auctor nulla aliquet eu. Praesent nunc sapien, scelerisque non semper sit amet, consequat iaculis sapien.</div>-->
                    </md-card-title-text>
                    <md-card-title-media>
                        <div class="md-media-md">
                            <img ng-src="{{ item.img | prepend: '/' | prepend: item.category | prepend: 'img/products/' | prepend: site.url }}"
                                 class="item-photo">
                        </div>
                    </md-card-title-media>
                </md-card-title>
                <md-card-actions layout="row" layout-align="end center">
                    <span class="item-price">${{item.price}}</span>
                    <span flex></span>
                    <md-button ng-click="cartAdd('{{item.itemID }}');">Add to cart</md-button>
                </md-card-actions>
            </md-card>
        {% endif %}
    {% endfor %}
</div>